$blue       : #0069B4;
$blueLight  : #8BADDC;
$blue-3     : #E8EFF8;
$blue-4     : #F4F7FC;
$orange     :#F39200;
$black      :#000000;
$red        :#E30613;
$white      :#FFFF;
$whiteLight :rgba(255, 255, 255, .7);
