@import "../styles/colours.scss";

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(@/assets/fonts/FrankRuhlLibre-Light.ttf) format("ttf");
    font-weight: 300;
    font-style: normal;
}

*{
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
}

//align-items
.align-items-center{
    -ms-align-items     : center;
    -webkit-align-items : center;
    align-items         : center
}
.align-items-end{
    -ms-align-items     : end;
    -webkit-align-items : flex-end;
    align-items         : end
}
.align-items-start{
    -ms-align-items     : start;
    -webkit-align-items : flex-start;
    align-items         : start
}

//buttons
.btn{
    display             : inline-block;
    color               : #212529;
    text-align          : center;
    vertical-align      : middle;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    background-color    : transparent;
    border              : 1px solid transparent;
    transition          : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

//background-colors
.background-primary{
    background-color: $blue !important;
}
.background-primary-light{
    background-color: $blueLight !important;
}
.background-black{
    background-color: $black !important;
}
.background-orange{
    background-color: $orange !important;
}
.background-red{
    background-color: $red !important;
}
.background-white{
    background-color: $white !important;
}

//colors
.color-primary{
    color: $blue !important;
}
.color-primary-light{
    color: $blueLight !important;
}
.color-black{
    color: $black !important;
}
.color-orange{
    color: $orange !important;
}
.color-white{
    color: $white !important;
}
.color-white-light{
    color: $whiteLight !important;
}

//container
.container{
    max-width: 1440px;
}

//cursor
.cursor-pointer{
    cursor: pointer;
}

//display
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.d-flex-column{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}

//fonts
.font-family-frank-ruhl{
    font-family: 'Frank Ruhl Libre', serif;
}
.font-family-roboto{
    font-family: 'Roboto', serif;
}
.font-light{
    font-weight: lighter;
}

//hr
.hr{
    border-top: 2px solid white;
    border-bottom: none;
    border-radius: 3px;

    &.color-white-light{
        border-top: 2px solid $whiteLight !important;
    }
}

//justifies
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}

.line{
    /* Line 1 */
    position: absolute;
    /* azul */
    border: 1px solid #0069B4;
    transform: rotate(-180deg);
    /* azul */
    background: #0069B4;
}

//margin-auto
.margin-auto{
    margin: auto;
}
.margin-left-auto{
    margin-left: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.margin-top-auto{
    margin-top: auto;
}
.margin-bottom-auto{
    margin-bottom: auto;
}

//list
.list-style-none{
    list-style: none;
}

//positions
.position-absolute{
    position: absolute;
}
.position-center{
    position: center;
}
.position-fixed{
    position: fixed;
}
.position-relative{
    position: relative;
}

//overflow
.overflow-hidden{
    overflow: hidden;
}
.overflow-y-auto{
    overflow-y: auto;
}
.overflow-y-scroll{
    overflow-y: scroll;
}

//text
.text-bold{
    font-weight: bold;
}
.text-light{
    font-family:'Frank Ruhl Libre', serif;
    font-weight: 300;
}
.text-light-global{
    font-weight: 300;
}
.text-center{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.text-left{
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
}
.text-right{
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
}
.text-primary{
    color: $blue;
}
.text-primary-light{
    color: $blueLight !important;
}
.text-orange{
    color: $orange !important;
}
.text-white{
    color: $white;
}
.text-decoration-none{
    text-decoration: none;
}

//autogenerated
@for $i from 0 through 100{
    //border-radius
    .border-radius-#{$i}-px{
        border-radius: #{$i}px;
    }
    .border-radius-0-#{$i}-px{
        border-radius: 0 #{$i}px;
    }
    .border-radius-#{$i}-0-px{
        border-radius: #{$i}px 0;
    }
    .border-radius-#{$i}-#{$i}-0-0-px{
        border-radius: #{$i}px #{$i}px 0 0;
    }
    .border-radius-0-0-#{$i}-#{$i}-px{
        border-radius: 0 0 #{$i}px #{$i}px;
    }
    .border-radius-0-#{$i}-0-#{$i}-px{
        border-radius: 0 #{$i}px 0 #{$i}px;
    }
    .border-radius-#{$i}-0-#{$i}-0-px{
        border-radius: #{$i}px 0 #{$i}px 0;
    }

    //bottom
    .bottom-#{$i}{
        bottom:#{$i + '%'};
    }

    //fonts
    .font-size-#{$i}{
        font-size: #{$i}px;
    }
    .font-size-#{$i}-rem{
        font-size: #{$i}rem;
    }

    //height
    .h-#{$i}{
        height: #{$i+'%'};
    }
    .h-#{$i}-px{
        height: #{$i}px;
    }
    .h-#{$i}-rem{
        height: #{$i}rem;
    }
    .h-#{$i}-vh{
        height: #{$i}vh;
    }

    //margins
    .m-#{$i}{
        margin: #{$i+'%'};
    }
    .m-#{$i}-px{
        margin: #{$i}px;
    }
    .m-#{$i}-rem{
        margin: #{$i}rem;
    }
    .m-left-#{$i}{
        margin-left: #{$i+'%'};
    }
    .m-left-#{$i}-px{
        margin-left: #{$i}px;
    }
    .m-left-#{$i}-rem{
        margin-left: #{$i}rem;
    }
    .m-right-#{$i}{
        margin-right: #{$i+'%'};
    }
    .m-right-#{$i}-px{
        margin-right: #{$i}px;
    }
    .m-right-#{$i}-rem{
        margin-right: #{$i}rem;
    }
    .m-top-#{$i}{
        margin-top: #{$i+'%'};
    }
    .m-top-#{$i}-px{
        margin-top: #{$i}px;
    }
    .m-top-#{$i}-rem{
        margin-top: #{$i}rem;
    }
    .m-bottom-#{$i}{
        margin-bottom: #{$i+'%'};
    }
    .m-bottom-#{$i}-px{
        margin-bottom: #{$i}px;
    }
    .m-bottom-#{$i}-rem{
        margin-bottom: #{$i}rem;
    }
    .m-x-#{$i}{
        margin-left  : #{$i+'%'};
        margin-right : #{$i+'%'};
    }
    .m-x-#{$i}-px{
        margin-left  : #{$i}px;
        margin-right : #{$i}px;
    }
    .m-x-#{$i}-rem{
        margin-left  : #{$i}rem;
        margin-right : #{$i}rem;
    }
    .m-y-#{$i}{
        margin-top  : #{$i+'%'};
        margin-bottom : #{$i+'%'};
    }
    .m-y-#{$i}-px{
        margin-top  : #{$i}px;
        margin-bottom : #{$i}px;
    }
    .m-y-#{$i}-rem{
        margin-top  : #{$i}rem;
        margin-bottom : #{$i}rem;
    }

    //left
    .left-#{$i}{
        left:#{$i + '%'};
    }

    //paddings
    .p-#{$i}{
        padding: #{$i+'%'};
    }
    .p-#{$i}-px{
        padding: #{$i}px;
    }
    .p-#{$i}-rem{
        padding: #{$i}rem;
    }
    .p-left-#{$i}{
        padding-left: #{$i+'%'};
    }
    .p-left-#{$i}-px{
        padding-left: #{$i}px;
    }
    .p-left-#{$i}-rem{
        padding-left: #{$i}rem;
    }
    .p-right-#{$i}{
        padding-right: #{$i+'%'};
    }
    .p-right-#{$i}-px{
        padding-right: #{$i}px;
    }
    .p-right-#{$i}-rem{
        padding-right: #{$i}rem !important;
    }
    .p-top-#{$i}{
        padding-top: #{$i+'%'};
    }
    .p-top-#{$i}-px{
        padding-top: #{$i}px;
    }
    .p-top-#{$i}-rem{
        padding-top: #{$i}rem;
    }
    .p-bottom-#{$i}{
        padding-bottom: #{$i+'%'};
    }
    .p-bottom-#{$i}-px{
        padding-bottom: #{$i}px;
    }
    .p-bottom-#{$i}-rem{
        padding-bottom: #{$i}rem !important;
    }
    .p-x-#{$i}{
        padding-left  : #{$i+'%'};
        padding-right : #{$i+'%'};
    }
    .p-x-#{$i}-px{
        padding-left  : #{$i}px;
        padding-right : #{$i}px;
    }
    .p-x-#{$i}-rem{
        padding-left  : #{$i}rem;
        padding-right : #{$i}rem;
    }
    .p-y-#{$i}{
        padding-top  : #{$i+'%'};
        padding-bottom : #{$i+'%'};
    }
    .p-y-#{$i}-px{
        padding-top  : #{$i}px;
        padding-bottom : #{$i}px;
    }
    .p-y-#{$i}-rem{
        padding-top  : #{$i}rem;
        padding-bottom : #{$i}rem;
    }

    //opacity
    .opacity-#{$i}{
        opacity: #{$i+'%'};
        transition: 0.2s;
    }

    //right
    .right-#{$i}{
        right:#{$i + '%'};
    }

    //top
    .top-#{$i}{
        top:#{$i + '%'};
    }

    //widths
    .w-#{$i}{
        width: #{$i+'%'} !important;
    }
    .w-#{$i}-px{
        width: #{$i}px !important;
    }
    .w-#{$i}-rem{
        width: #{$i}rem !important;
    }
    .w-#{$i}-vw{
        width: #{$i}vw !important;
    }

    //z-index{
    .z-index-#{$i}{
        z-index: #{$i};
    }
}

/**
 * Estilos prestados del otro cermi
 */

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.column-center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column
}

.column-between {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-align-items: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column
}

.jcc {
    justify-content: center;
    -webkit-justify-content: center
}

.jcsb {
    justify-content: space-between;
    -webkit-justify-content: space-between
}

.jcsa {
    justify-content: space-around;
    -webkit-justify-content: space-around
}

.jcfe {
    justify-content: flex-end;
    -webkit-justify-content: flex-end
}

.aic {
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center
}

.ais {
    -ms-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
}

.aifs {
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.aife {
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.fww {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap
}

.fdc {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    &[activepopup="false"] {
        display: none;
    }
    &[activepopup="true"] {
        display: block;
    }
}

.contenedor-popup {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center;
}

.really-popup {
    width: auto;
    max-width: 600px;
    min-width: 280px;
    padding: 20px;
    height: auto;
    min-height: 160px;
    background: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.really-popup span,
#box_options a {
    padding: 5px 10px;
    display: inline-block;
    color: white;
    background: #444;
    margin: 0 3px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn-blue {
    background: $blue;
    font-size: 18px;
    color: white;
    border-radius: 33px;
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    border: 1px solid $blue;
    transition: all 0.8s cubic-bezier(0, 1, 0.5, 1);
    &:hover {
        border: 1px solid $blue;
        color: $blue;
        background: white;
        transition: all 0.8s cubic-bezier(0, 1, 0.5, 1);
    }
}

.btn-white {
    background: white;
    font-size: 18px;
    color: $blue;
    border-radius: 33px;
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    border: 1px solid $blue;
    transition: all 0.8s cubic-bezier(0, 1, 0.5, 1);
    &:hover {
        border: 1px solid white;
        color: white;
        background: $blue;
        transition: all 0.8s cubic-bezier(0, 1, 0.5, 1);
    }
}

.btn-orange {
    background: $orange;
    font-size: 18px;
    color: white;
    border-radius: 33px;
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    border: 1px solid $orange;
    transition: all 0.8s cubic-bezier(0, 1, 0.5, 1);
    &:hover {
        border: 1px solid $orange;
        color: $orange;
        background: white;
        transition: all 0.8s cubic-bezier(0, 1, 0.5, 1);
    }
}

.btn-back {
    color: $blue;
    ////background-image: url(/img/icons/arrow-left-orange.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px;
    padding-left: 25px;
    min-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 700;
}

.subtitle {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 700;
    color: $blue;
}

.date-text {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 300;
    color: $blue;
}

.author {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 700;
    color: $blue;
}

.category-round {
    color: $orange;
    border: 1px solid $orange;
    border-radius: 23px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
}

.category-tag {
    color: $orange;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    //background-image: url('/img/icons/icon-tag.svg');
    padding-left: 22px;
    background-repeat: no-repeat;
    background-size: 20px;
    min-height: 22px;
    background-position: left center;
}

.category-location {
    color: $blue;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    //background-image: url('/img/icons/icon-map.svg');
    padding-left: 22px;
    background-repeat: no-repeat;
    background-size: 20px;
    min-height: 22px;
    background-position: left center;
}

.container-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    .grid-big {
        width: 70%;
        padding-right: 20px;
    }
    .grid-small {
        width: 30%;
        padding-left: 20px;
    }
}

.grid-two {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
    .grid {
        width: 48%;
    }
}

.border-top {
    padding-top: 20px;
    border-top: 1px solid $blueLight;
}

.title-dest-underline {
    font-family: 'Frank Ruhl Libre', serif;
    color: $blue;
    border-bottom: 1px solid $blue;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.title-dest {
    font-family: 'Frank Ruhl Libre', serif;
    color: $blue;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.grid-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .grid {
        width: 32%
    }
}

.box-blue-round {
    background: $blueLight;
    border-radius: 13px;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 275px;
}

.link-arrow {
    color: $blue;
    font-weight: 700;
    //background-image: url('/img/icons/arrow-right.svg');
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
    background-size: 20px;
    min-height: 22px;
}

.slider-videos {
    position: relative;
    padding-top: 25px;
    .agile__actions {
        position: absolute;
        top: -35px;
        right: 0;
    }
    .agile__nav-button.agile__nav-button--next {
        background-color: transparent;
        border: 0;
        //background-image: url(/img/icons/arrow-right.svg);
        font-size: 0;
        width: 30px;
        height: 30px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 28px;
        cursor: pointer;
        margin-left: 20px;
    }
    .agile__nav-button.agile__nav-button--prev {
        background-color: transparent;
        border: 0;
        //background-image: url(/img/icons/arrow-right.svg);
        font-size: 0;
        width: 30px;
        height: 30px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 28px;
        cursor: pointer;
        margin-left: 20px;
        transform: rotate(180deg);
    }
}

.title-h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 700;
}
