@import "../styles/colours.scss";

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(@/assets/fonts/FrankRuhlLibre-Light.ttf) format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Frank Ruhl Linbre Black";
    src: url(@/assets/fonts/FrankRuhlLibre-Black.ttf),
        url(@/assets/fonts/FrankRuhlLibre-Bold.ttf) format("ttf");
    font-weight: bold;
    font-style: normal;
}

*{
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
}

//align-items
.align-items-center{
    -ms-align-items     : center;
    -webkit-align-items : center;
    align-items         : center
}
.align-items-end{
    -ms-align-items     : end;
    -webkit-align-items : flex-end;
    align-items         : end
}
.align-items-start{
    -ms-align-items     : start;
    -webkit-align-items : flex-start;
    align-items         : start
}

//buttons

.btn{
    cursor: pointer;
    font-size            : 18px;
    color                : white;
    border-radius        : 33px;
    text-decoration      : none;
    padding              : 5px 15px;
    font-family          : 'Frank Ruhl Libre', serif;
    font-weight          : 700;
    transition           : all 0.8s cubic-bezier(0, 1, 0.5, 1);
    &.btn-blue {
        background           : $blue;
        border               : 1px solid $blue;
        &:hover {
            border           : 1px solid $blue;
            color            : $blue;
            background       : white;
            transition       : all 0.8s cubic-bezier(0, 1, 0.5, 1);
        }
        &.outline{
            background-color : white;
            color            : $blue;
            &:hover {
                color            : white;
                background       : $blue;
            }
        }
    }

    &.btn-orange {
        background           : $orange;
        border               : 1px solid $orange;
        &:hover {
            border           : 1px solid $orange;
            color            : $orange;
            background       : white;
            transition       : all 0.8s cubic-bezier(0, 1, 0.5, 1);
        }
        &.outline{
            background-color : white;
            color            : $orange;
            &:hover {
                color            : white;
                background       : $orange;
            }
        }
    }

}

//background-colors
.background-primary{
    background-color: $blue !important;
}
.background-primary-light{
    background-color: $blueLight !important;
}
.background-blue-3{
    background-color: $blue-3 !important;
}
.background-black{
    background-color: $black !important;
}
.background-orange{
    background-color: $orange !important;
}
.background-red{
    background-color: $red !important;
}
.background-white{
    background-color: $white !important;
}

//colors
.color-primary{
    color: $blue !important;
}
.color-primary-light{
    color: $blueLight !important;
}
.color-black{
    color: $black !important;
}
.color-orange{
    color: $orange !important;
}
.color-white{
    color: $white !important;
}
.color-white-light{
    color: $whiteLight !important;
}

//container
.container{
    max-width: 1440px;
}

//cursor
.cursor-pointer{
    cursor: pointer;
}

//display
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.d-inline-block{
    display: inline-block !important;
}
.d-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.d-flex-column{
    display        : -webkit-flex;
    display        : -moz-flex;
    display        : -ms-flex;
    display        : -o-flex;
    display        : flex;
    flex-direction : column;
}

//fonts
.font-family-frank-ruhl{
    font-family: 'Frank Ruhl Linbre Black', serif;
}
.font-family-roboto{
    font-family: 'Roboto', serif;
}
.font-light{
    font-weight: lighter;
}

//grid
.grid {
    display   : flex;
    flex-wrap : wrap;
    padding   : 40px 0;
    .grid-big {
        width         : 70%;
        padding-right : 20px;
    }
    .grid-small {
        width        : 30%;
        padding-left : 20px;
    }
}

.grid-2 {
    display         : flex;
    flex-wrap       : wrap;
    padding         : 40px 0;
    justify-content : space-between;
    .grid {
        width: 48%;
    }
}

.grid-3 {
    display         : flex;
    justify-content : space-between;
    align-items     : flex-start;
    flex-wrap       : wrap;
    .grid {
        width: 32%
    }
}

//hr
.hr{
    border-top: 2px solid white;
    border-bottom: none;
    border-radius: 3px;

    &.color-white-light{
        border-top: 2px solid $whiteLight !important;
    }
}

//justifies
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}

.line{
    /* Line 1 */
    position   : absolute;
    /* azul */
    border     : 1px solid #0069B4;
    transform  : rotate(-180deg);
    /* azul */
    background : #0069B4;
}

//margin-auto
.margin-auto{
    margin: auto;
}
.margin-left-auto{
    margin-left: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.margin-top-auto{
    margin-top: auto;
}
.margin-bottom-auto{
    margin-bottom: auto;
}

//list
.list-style-none{
    list-style: none;
}

//positions
.position-absolute{
    position: absolute;
}
.position-center{
    position: center;
}
.position-fixed{
    position: fixed;
}
.position-relative{
    position: relative;
}

//overflow
.overflow-hidden{
    overflow: hidden;
}
.overflow-y-auto{
    overflow-y: auto;
}
.overflow-y-scroll{
    overflow-y: scroll;
}

//text
.text-bold{
    font-weight: bold;
}
.text-light{
    font-family :'Frank Ruhl Libre', serif;
    font-weight : 300;
}
.text-light-global{
    font-weight: 300;
}
.text-center{
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.text-left{
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
}
.text-right{
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
}
.text-primary{
    color: $blue;
}
.text-primary-light{
    color: $blueLight !important;
}
.text-orange{
    color: $orange !important;
}
.text-white{
    color: $white;
}
.text-decoration-none{
    text-decoration: none;
}

.subtitle {
    font-family   : 'Frank Ruhl Libre', serif;
    font-size     : 18px;
    line-height   : 1.2em;
    margin-bottom : 15px;
    font-weight   : 700;
    color         : $blue;
}

.title {
    font-family   : 'Frank Ruhl Libre', serif;
    font-size     : 20px;
    line-height   : 1.2em;
    margin-bottom : 15px;
    font-weight   : 700;
}

//underline
.underline{
    display             : inline-block;
    width               : 92px;
    background-image    : url(/public/img/line.svg);
    background-repeat   : no-repeat;
    background-position : center;
    height              : 10px;
    margin              : auto;
}

//vertical-align
.vertical-align-middle{
    vertical-align: middle;
}

//autogenerated
@for $i from 0 through 100{
    //border-radius
    .border-radius-#{$i}-px{
        border-radius: #{$i}px;
    }
    .border-radius-0-#{$i}-px{
        border-radius: 0 #{$i}px;
    }
    .border-radius-#{$i}-0-px{
        border-radius: #{$i}px 0;
    }
    .border-radius-#{$i}-#{$i}-0-0-px{
        border-radius: #{$i}px #{$i}px 0 0;
    }
    .border-radius-0-0-#{$i}-#{$i}-px{
        border-radius: 0 0 #{$i}px #{$i}px;
    }
    .border-radius-0-#{$i}-0-#{$i}-px{
        border-radius: 0 #{$i}px 0 #{$i}px;
    }
    .border-radius-#{$i}-0-#{$i}-0-px{
        border-radius: #{$i}px 0 #{$i}px 0;
    }

    //bottom
    .bottom-#{$i}{
        bottom:#{$i + '%'};
    }

    //fonts
    .font-size-#{$i}{
        font-size: #{$i}px;
    }
    .font-size-#{$i}-rem{
        font-size: #{$i}rem;
    }

    //height
    .h-#{$i}{
        height: #{$i+'%'};
    }
    .h-#{$i}-px{
        height: #{$i}px;
    }
    .h-#{$i}-rem{
        height: #{$i}rem;
    }
    .h-#{$i}-vh{
        height: #{$i}vh;
    }

    //margins
    .m-#{$i}{
        margin: #{$i+'%'};
    }
    .m-#{$i}-px{
        margin: #{$i}px;
    }
    .m-#{$i}-rem{
        margin: #{$i}rem;
    }
    .m-left-#{$i}{
        margin-left: #{$i+'%'};
    }
    .m-left-#{$i}-px{
        margin-left: #{$i}px;
    }
    .m-left-#{$i}-rem{
        margin-left: #{$i}rem;
    }
    .m-right-#{$i}{
        margin-right: #{$i+'%'};
    }
    .m-right-#{$i}-px{
        margin-right: #{$i}px;
    }
    .m-right-#{$i}-rem{
        margin-right: #{$i}rem;
    }
    .m-top-#{$i}{
        margin-top: #{$i+'%'};
    }
    .m-top-#{$i}-px{
        margin-top: #{$i}px;
    }
    .m-top-#{$i}-rem{
        margin-top: #{$i}rem;
    }
    .m-bottom-#{$i}{
        margin-bottom: #{$i+'%'};
    }
    .m-bottom-#{$i}-px{
        margin-bottom: #{$i}px;
    }
    .m-bottom-#{$i}-rem{
        margin-bottom: #{$i}rem;
    }
    .m-x-#{$i}{
        margin-left  : #{$i+'%'};
        margin-right : #{$i+'%'};
    }
    .m-x-#{$i}-px{
        margin-left  : #{$i}px;
        margin-right : #{$i}px;
    }
    .m-x-#{$i}-rem{
        margin-left  : #{$i}rem;
        margin-right : #{$i}rem;
    }
    .m-y-#{$i}{
        margin-top  : #{$i+'%'};
        margin-bottom : #{$i+'%'};
    }
    .m-y-#{$i}-px{
        margin-top  : #{$i}px;
        margin-bottom : #{$i}px;
    }
    .m-y-#{$i}-rem{
        margin-top  : #{$i}rem;
        margin-bottom : #{$i}rem;
    }

    //left
    .left-#{$i}{
        left:#{$i + '%'};
    }

    //paddings
    .p-#{$i}{
        padding: #{$i+'%'};
    }
    .p-#{$i}-px{
        padding: #{$i}px;
    }
    .p-#{$i}-rem{
        padding: #{$i}rem;
    }
    .p-left-#{$i}{
        padding-left: #{$i+'%'};
    }
    .p-left-#{$i}-px{
        padding-left: #{$i}px;
    }
    .p-left-#{$i}-rem{
        padding-left: #{$i}rem;
    }
    .p-right-#{$i}{
        padding-right: #{$i+'%'};
    }
    .p-right-#{$i}-px{
        padding-right: #{$i}px;
    }
    .p-right-#{$i}-rem{
        padding-right: #{$i}rem !important;
    }
    .p-top-#{$i}{
        padding-top: #{$i+'%'};
    }
    .p-top-#{$i}-px{
        padding-top: #{$i}px;
    }
    .p-top-#{$i}-rem{
        padding-top: #{$i}rem;
    }
    .p-bottom-#{$i}{
        padding-bottom: #{$i+'%'};
    }
    .p-bottom-#{$i}-px{
        padding-bottom: #{$i}px;
    }
    .p-bottom-#{$i}-rem{
        padding-bottom: #{$i}rem !important;
    }
    .p-x-#{$i}{
        padding-left  : #{$i+'%'};
        padding-right : #{$i+'%'};
    }
    .p-x-#{$i}-px{
        padding-left  : #{$i}px;
        padding-right : #{$i}px;
    }
    .p-x-#{$i}-rem{
        padding-left  : #{$i}rem;
        padding-right : #{$i}rem;
    }
    .p-y-#{$i}{
        padding-top  : #{$i+'%'};
        padding-bottom : #{$i+'%'};
    }
    .p-y-#{$i}-px{
        padding-top  : #{$i}px;
        padding-bottom : #{$i}px;
    }
    .p-y-#{$i}-rem{
        padding-top  : #{$i}rem;
        padding-bottom : #{$i}rem;
    }

    //opacity
    .opacity-#{$i}{
        opacity: #{$i+'%'};
        transition: 0.2s;
    }

    //right
    .right-#{$i}{
        right:#{$i + '%'};
    }

    //top
    .top-#{$i}{
        top:#{$i + '%'};
    }

    //widths
    .w-#{$i}{
        width: #{$i+'%'} !important;
    }
    .w-#{$i}-px{
        width: #{$i}px !important;
    }
    .w-#{$i}-rem{
        width: #{$i}rem !important;
    }
    .w-#{$i}-vw{
        width: #{$i}vw !important;
    }

    //z-index{
    .z-index-#{$i}{
        z-index: #{$i};
    }
}
