.icon{
  background-position   : center !important;
  background-size       : contain !important;
  background-repeat     : no-repeat !important;
  display               : inline-block;
  &.icon-facebook{
    background : url("/public/icons/facebook.svg");
    color      : #0069B4;
  }

  &.icon-calendar{
    background : url("/public/icons/calendar.svg");
    color      : #0069B4;
  }

  &.icon-clock{
    background : url("/public/icons/clock.svg");
    color      : #0069B4;
  }

  &.icon-instagram{
    background : url("/public/icons/instagram.svg");
    color      : #0069B4;
  }

  &.icon-linkedin{
    background : url("/public/icons/linkedin.svg");
    color      : #0069B4;
  }

  &.icon-location{
    background : url("/public/icons/location.svg");
    color      : #0069B4;
  }

  &.icon-tag{
    background : url("/public/icons/tag.svg");
    color      : #0069B4;
  }

  &.icon-twitter{
    background : url("/public/icons/twitter.svg");
    color      : #0069B4;
  }

  &.icon-search{
    background : url("/public/icons/search.svg");
    color      : #0069B4;
  }

  &.icon-youtube{
    background : url("/public/icons/youtube.svg");
    color      : #0069B4;
  }
}
