.icon{
  background-position   : center !important;
  background-size       : contain !important;
  background-repeat     : no-repeat !important;

  &.icon-facebook{
    display    : block;
    background : url("/public/icons/facebook.svg");
    color      : #0069B4;
  }

  &.icon-search{
    display    : block;
    background : url("/public/icons/search.svg");
    color      : #0069B4;
  }

  &.icon-twitter{
    display    : block;
    background : url("/public/icons/twitter.svg");
    color      : #0069B4;
  }

  &.icon-instagram{
    display    : block;
    background : url("/public/icons/instagram.svg");
    color      : #0069B4;
  }

  &.icon-linkedin{
    display    : block;
    background : url("/public/icons/linkedin.svg");
    color      : #0069B4;
  }

  &.icon-youtube{
    display    : block;
    background : url("/public/icons/youtube.svg");
    color      : #0069B4;
  }
}
